.container {
  width: 30%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.promptCreateButton:hover {
  box-shadow: 0px 0px 10px 0px rgba(214, 181, 63, 0.3);
}

.promptCreateButton {
  background-color: var(--color-gray1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  padding: 25px 15px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  flex: 1;
  height: 100%;
}

.typeText {
  font-style: bold;
  font-size: 20px;
}
.promaText {
  font-size: 16px;
}
.contentText {
  font-size: 9px;
}

.iconContainer {
  width: 100%;
}

.contentText,
.typeText,
.promaText {
  margin: 0;
}
