.container {
  position: relative;
  margin-bottom: 10px;
  margin-left: 15px;
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.iconContainer {
  width: 15px;
  height: 15px;
}

.text {
  color: var(--color-gray6);
  margin: 0;
}
