.container {
  width: 30%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promptCreateButton:hover {
  box-shadow: 0px 0px 10px 0px rgba(241, 89, 42, 0.30);
}

/* .selected {
  box-shadow: 0px 0px 10px 0px rgba(241, 89, 42, 0.30);
} */

.promptCreateButton {
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  padding: 15px 15px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  height: auto;
  margin: 5px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.typeText {
  font-weight: 700;
  font-size: 20px;
}
.age{
  font-weight: 600;
  font-size: 16px;
}
.contentText {
  font-size: 13px;
}

.iconContainer {
  width: 100%;
}

.contentText,
.typeText,
.age {
  margin: 0;
}
