.pageContainer {
  display: flex;
  height: 94vh;
  overflow: hidden;
  background-color: #f5f6f9;
}

.chatContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messagesContainer {
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  background-color: #f5f6f9;
}

.inputContainer {
  background-color: #f5f6f9;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .pageContainer {
    flex-direction: column;
  }

  .chatContainer {
    height: calc(100vh - 60px); /* 사이드바 높이를 고려 */
  }
}

/* PreChatting 컴포넌트를 위한 스타일 */
.preChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.preChatTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.preChatContent {
  font-size: 1.2rem;
  color: #666;
  max-width: 600px;
  line-height: 1.6;
}
