.messagesContainer {
  flex: 1;
  overflow-y: auto;
  width: 80%;
  min-width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
}

.message {
  display: inline-flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: var(--color-gray2);
  color: var(--gray-8);
  padding: 10px 15px;
  width: auto;
  max-width: 70%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.imageContainer {
  display: inline-flex;
  width: auto;
  height: auto;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  gap: 5px;
}

.image {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}

.fileName {
  color: var(--color-gray7);
  margin: 0;
  white-space: nowrap;
  overflow: visible;
}

.sendMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  margin: 0;
}

.promaChattingProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px var(--color-gray3);
}

.promaChattingProfile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px var(--color-gray3);
}

.receiveMessage {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin: 30px 0;
}

.receiveMessageText {
  margin-top: 12px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  width: 80%;
  box-sizing: border-box;
  flex-grow: 1;
}
