.container {
  display: flex;
  align-items: center;
  color: white;
  height: 8vh;
}

.homePage {
  background-color: #ff6600;
}

.chatPage {
  background-color: var(--white);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoSection {
  width: 13vw;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainNav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginSection {
  cursor: pointer;
}

.chatHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.chatTitle {
  margin-right: 7vw;
  margin-top: auto;
  margin-bottom: auto;
}

.chatTitle img {
  width: 160px;
}

.chatExplain {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3vw;
}