.container {
  display: flex;
  height: 8vh;
  align-items: center;
  padding: 1vh;
  background-color: #ff6600;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoSection {
  width: 13vw;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainNav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loginSection {
  cursor: pointer;
}

.chatHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.chatTitle {
  margin-right: 7vw;
  margin-top: auto;
  margin-bottom: auto;
}

.chatExplain {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3vw;
}