.main {
  display: flex;
  height: 100%;
}

.content {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.content img {
  object-fit: cover;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
