.rightSidebar {
    height: 100%;
    background-color: #f0f0f0;
}

.rightSidebar ul {
    padding: 0;
}

.rightSidebar ul li {
    width : 6vw;
    font-size: 1vw;
    padding: 14px 0;
    display: block;
    color: black;
    letter-spacing: 0;
    text-align: center;
}