:root {
  --white: #ffffff;
  --black: #000000;
  --block-main-color: #543fd6;
  --block-purple: #943fd6;
  --block-pink: #ee5595;
  --block-red: #f83600;
  --block-orange: #ff8a00;
  --block-green: #1ccf4e;
  --logo-purple2: #8d87ec;
  --logo-purple1: #e1e2ff;
  --color-gray1: #f7f7f7;
  --color-gray2: #f4f4f4;
  --color-gray3: #dbdbdb;
  --color-gray4: #b0b0b0;
  --color-gray5: #878787;
  --color-gray6: #5a5a5a;
  --color-gray7: #393939;
  --color-gray8: #202020;
  --color-gray9: #121212;
  --orange1: #F1592A;
}
